<div class="jumbotron">
  <h1 class="display-4">Welcome to our store! ShopIt</h1>
  <p class="lead">This is a website where you can get some amazing deals...</p>
  <hr class="my-4">
  <p>Hello, click the below button to check the amazing deals on our website....</p>
  <p class="lead">
		<%= link_to 'Items Page', items_path, class: 'btn btn-dark'%>
  </p>
</div>