<h2 class="text-center">Items available to shop</h2>
<br>

<%@items.each do |item|%>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><%=item.code%></h5>
      Name: <p class="card-text"><%=item.name%></p>
      Price:  <a href="#" class="btn btn-primary"><%=item.price%></a>
    </div>
  </div>
<%end%>








