<br>
<%params[:quantity].each do |k,v|%>
<ul class="list-group">  
  <li class="list-group-item list-group-item-primary">Number of <%=k%> : <%=v%></li>
</ul>  
<%end%>  
<br><br>

 <li class="list-group-item list-group-item-danger text-center">Total Price: <%=@price%> €</li>
 <%if @discounted_price%>
 <li class="list-group-item list-group-item-danger text-center">Discounted Price: <%=@discounted_price%> €</li> 
 <%end%>